name: Prettier & ESLint

on:
    push:
        branches:
            - development
            - main
    pull_request:
        types:
            - opened
            - reopened
            - synchronize

concurrency:
    group: ${{ github.ref }}
    cancel-in-progress: true

jobs:
    ts-lint:
        name: Prettier & ESLint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Prepare
              run: npm ci
            - name: Lint
              run: npm run lint
            - name: Test
              run: npm run test
            #- name: Lint
            #  uses: wearerequired/lint-action@v1
            #  with:
            #      eslint: true
            #      prettier: true
            #      eslint_extensions: js,ts
